body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: flex-start; /* ustawia dzieci kontenera na początek kontenera */
    align-items: flex-start; /* wyrównuje dzieci do góry kontenera */
    gap: 20px; /* dodaje odstęp pomiędzy elementami w kontenerze */
}

.left-panel, .right-panel {
    flex: 1;
    margin: 20px;
    padding: 10px;
}

#productImage {
    max-width: 300px;
    display: none; /* Ukryj obraz domyślnie */
}

.map-link {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

