body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

/*body {*/
/*    background-image: url('images/background.jpg');*/
/*    background-size: cover; !* Obrazek będzie skalowany, aby pokryć całą dostępną przestrzeń *!*/
/*    background-position: center center; !* Obrazek będzie wyśrodkowany *!*/
/*    background-repeat: no-repeat; !* Obrazek nie będzie się powtarzał *!*/
/*    background-attachment: fixed; !* Obrazek tła będzie nieruchomy przy przewijaniu strony *!*/
/*}*/

#infoTable .selectionCheckbox {
    margin-right: 5px; /* Dodaje margines po prawej stronie dla odstępu */
}

.container {
    display: flex;
    align-items: stretch; /* Zapewnia, że dzieci diva mają tę samą wysokość */
}


.left-panel, .right-panel {
    flex: 1;
    margin: 20px;
    padding: 10px;
    /* Stylizacja dla lewego i prawego panelu bez tła, zaokrągleń i cienia */
}

#productImage {
    max-width: 300px;
    display: none;
}

.map-link {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="text"], select, input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Tylko dolna linia dla oddzielenia wierszy */
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #e7e7e7;
}

tr:hover {
    background-color: #ddd;
}


.map-container {
    height: 500px;
    width: calc(100% - 40px);
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-container {
    flex: 1;
    padding: 20px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}