<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatic Speditor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>

    <div class="container">

        <div class="left-panel">
            <select id="citySelect">
                <option value="">Wybierz miasto</option>
                <option value="Białystok">Białystok</option>
                <option value="Białystok">Bydgoszcz</option>
                <option value="Gdańsk">Gdańsk</option>
                <option value="Gdynia">Gdynia</option>
                <option value="Lublin">Lublin</option>
                <option value="Łódź">Łódź</option>
                <option value="Katowice">Katowice</option>
                <option value="Kielce">Kielce</option>
                <option value="Kraków">Kraków</option>
                <option value="Olsztyn">Olsztyn</option>
                <option value="Opole">Opole</option>
                <option value="Poznań">Poznań</option>
                <option value="Radom">Radom</option>
                <option value="Rzeszów">Rzeszów</option>
                <option value="Sopot">Sopot</option>
                <option value="Sosnowiec">Sosnowiec</option>
                <option value="Szczecin">Szczecin</option>
                <option value="Wrocław">Wrocław</option>
                <option value="Zabrze">Zabrze</option>
                <option value="Zielona Góra">Zielona Góra</option>
            </select><br>

            <select id="productSelect" multiple>
                <option value="milk">Milk</option>
                <option value="cheese">Cheese</option>
                <option value="tomatoes">Tomatoes</option>
                <option value="apples">Apples</option>
                <option value="pepper">Pepper</option>
                <option value="eggs">Eggs</option>
                <option value="meat">Meat</option>
                <option value="water">Water</option>
            </select><br>

            <input type="number" id="productWeight" placeholder="Waga produktu (t)"><br>
            <input type="number" id="deliveryDeadline" placeholder="Deadline (days)"><br>
            <button id="saveCityButton" onclick="saveCity()">Save city</button>
            <button onclick="clearEverything()">Clear choice</button>
            <button onclick="clearMarkers()">Clear map</button>
            <div id="map" class="map-container"></div>
        </div>

        <div class="right-panel">
            <h3>Data:</h3>
            <table id="infoTable">
                <thead>
                    <tr>
                        <th>City</th>
                        <th>Product</th>
                        <th>Weight</th>
                        <th>Deadline</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <h3>Algorithm parameters</h3>
           <div class="algorithm-parameters">
              <p class="parameter-name">Population size</p>
              <div class="input-container">
                <input type="range" class="range-input population-size" min="10" max="500" step="1">
                <input type="number" class="number-input population-size" min="10" max="500" step="1">
              </div>
              <p class="parameter-name" id="selection">Selection size</p>
              <div class="input-container">
                <input type="range" class="range-input" min="5" max="500" step="1">
                <input type="number" class="number-input" min="5" max="500" step="1">
              </div>
              <p class="parameter-name">Crossover rate</p>
              <div class="input-container">
                <input type="range" class="range-input" min="0" max="1" step="0.01">
                <input type="number" class="number-input" min="0" max="1" step="0.01">
              </div>
              <p class="parameter-name">Mutation rate</p>
              <div class="input-container">
                <input type="range" class="range-input" min="0" max="1" step="0.01">
                <input type="number" class="number-input" min="0" max="1" step="0.01">
              </div>
              <p class="parameter-name">Pay rate</p>
              <div class="input-container">
                <input type="range" class="range-input" min="0" max="1000" step="0.01">
                <input type="number" class="number-input" min="0" max="1000" step="0.01">
              </div>
              <p class="parameter-name">Visited cities limit</p>
              <div class="input-container">
                <input type="range" class="range-input" min="1" max="10" step="1">
                <input type="number" class="number-input" min="1" max="10" step="1">
              </div>
           </div>

            <div class="map-link">
                <button id="goToMapButton">Move to results</button>
                <div class="spinner"></div>
            </div>


        </div>


    </div>



    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/algorithm_params.js') }}"></script>
    <script src="{{ url_for('static', filename='js/products_table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rest.js') }}"></script>
</body>
</html>





