<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Trasy</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">

</head>
<body>
    <div class="container">
        <div class="left-panel">
            <h2>Informacje o trasie</h2>
            <table id="result-table" class="route-info-table">
                <thead>
                    <tr>
                        <th>Miasto</th>
                        <th>Odległość</th>
                        <th>Czas</th>
                    </tr>
                </thead>
            <tbody>
            <!-- Wiersze tabeli zostaną dodane dynamicznie -->
            </tbody>
            </table>
             <button onclick="returnToHome()" class="back-to-home">Wróć do strony głównej</button>
        </div>
        <div class="right-panel">
            <div id="map"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/display.js') }}"></script>
    <script src="{{ url_for('static', filename='js/result_app.js') }}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.min.js"></script>



</body>
</html>
